// MAIN
$background-color: 	#eee;
$text-color: 		#333;
$light-text-color: 	#999;

// NAVBAR
$navbar-color: 		#FFE600;

// BUTTON 
$button-icon-bg: 	#eee;
$button-primary-bg: 	#3483fa;

// LIST
$list-border-color: 	#eee;